<div class="container course-container" ng-hide="ctrl.courseNotFound">
  <form name="courseForm" ng-submit="ctrl.submitIfValid(courseForm)" class="form-horizontal" novalidate>
    <div
      ng-class="{ 'has-error': courseForm.title.$invalid && (courseForm.title.$touched || courseForm.$submitted), 'form-group': true }">
      <label for="course_name" class="col-sm-2">Название</label>

      <div class="col-sm-5"><input type="text" id="course_name" required name="title" ng-model="ctrl.course.title"
                                   placeholder="Название" class="form-control"></div>
      <div class="text-danger col-sm-3"
           ng-show="courseForm.title.$error.required && (courseForm.title.$touched || courseForm.$submitted)">*Это поле
        обязательно
      </div>
    </div>
    <div
      ng-class="{ 'has-error': courseForm.description.$invalid && (courseForm.description.$touched || courseForm.$submitted), 'form-group': true }">
      <label for="description" class="col-sm-2">Описание</label>

      <div class="col-sm-8">
        <textarea name="description" required id="description" ng-model="ctrl.course.description"
                  class="form-control" placeholder="Описание"></textarea>
      </div>
      <div
        ng-show="courseForm.description.$error.required && (courseForm.description.$touched || courseForm.$submitted)"
        class="text-danger col-sm-8 col-sm-push-2 pt-5">*Это поле обязательно
      </div>
    </div>
    <div
      ng-class="{ 'has-error': courseForm.date.$invalid && (courseForm.date.$touched || courseForm.$submitted), 'form-group': true }">
      <label for="date" class="col-sm-2">Дата</label>

      <div class="col-sm-10">
        <input type="text" class="form-control"
               id="date"
               name="date"
               size="7"
               required
               mask="\d\d\.\d\d\.\d\d\d\d"
               date-format="dd.MM.yyyy"
               placeholder="дд.мм.гггг"
               ng-model="ctrl.course.date"
               ng-model-options="{ allowInvalid: true }"
        />
        <span class="text-danger ml-30"
              ng-show="courseForm.date.$error.correctDate && (courseForm.date.$touched || courseForm.$submitted)">Некорректная дата
        </span>
        <span class="text-danger ml-30"
              ng-show="courseForm.date.$error.required && (courseForm.date.$touched || courseForm.$submitted)">*Это поле
        обязательно
      </span>
      </div>
    </div>
    <div
      ng-class="{ 'has-error': courseForm.duration.$invalid && (courseForm.duration.$touched || courseForm.$submitted), 'form-group': true }">
      <label for="duration" class="col-sm-2">Продолжительность</label>
      <div class="col-sm-6"><input size="3" format-time="timeFormatter" type="text" name="duration" mask="\d\d\d\d" id="duration" required min="1"
                                   ng-model="ctrl.course.duration" placeholder="минуты" class="form-control">
      <span class="text-danger"
            ng-show="courseForm.duration.$error.required && (courseForm.duration.$touched || courseForm.$submitted)">*Это поле обязательно</span>
        <span class="text-danger"
              ng-show="courseForm.duration.$error.number && (courseForm.duration.$touched || courseForm.$submitted)">Введите количество минут числом</span>
        <span class="text-danger"
              ng-show="courseForm.duration.$error.min && (courseForm.duration.$touched || courseForm.$submitted)">Минимальное значение 1 минута</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">Авторы</label>

      <div class="col-sm-10">
        <list-input ng-model="ctrl.course.authors"
                    source="ctrl.availableAuthors"
                    choose-callback="ctrl.course.srNotifyAuthorSelected(author)"
                    remove-callback="ctrl.course.srNotifyAuthorRemoved(author)">
        </list-input>
      </div>
      <div class="col-sm-12">{{ ctrl.course.authors.length }} {{ ctrl.course.authors.length | getEnding:['автор',
        'автора', 'авторов'] }}<span ng-if="ctrl.course.authors.length">:</span> {{ ctrl.course.authors.join(', ') }}
      </div>
    </div>
    <div class="row">
      <div class="text-danger col-sm-push-2 col-sm-10" ng-show="!ctrl.course.authors.length && courseForm.$submitted">
        *Укажите хотя бы одного автора
      </div>
    </div>
    <div class="form-group buttons">
      <div class="col-sm-push-2 col-sm-10">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a class="btn btn-danger" href="#/courses">Отмена</a>
      </div>
    </div>
  </form>
</div>
<div class="container not-found-container" ng-if="ctrl.courseNotFound"><h1>404</h1>
  <p role="alert">The resource you are looking for is not here...</p></div>
